.titulos-grandes{
    color: $color-secundario;
    text-align: center;
    background-color: $color-principal;
    width: 1110px;
    margin: 10px 0 10px 0;
    }

    .subtitulos{
        justify-content: left;
        text-align: left;
        color: $color-principal;
        margin-bottom: 20px;
        padding-top: 10px;
        font-size: medium;
        }