


@import "../partials/mixin";



.seccion-productos{
    display: grid;
    display: flex;
    width: 100vw;
    column-gap: 10px;
    grid-template-columns: 50px 950px;
    grid-area: categorias;
    grid-area: todos-los-productoss;
    grid-template-areas: 
    "categorias todos-los-productos";
    width: 1280px;
    
    .categorias{
        width: 150px;
        margin: 10px 5px 0 25px;
        padding: 0;
        
        .subtitulo-corazon{
            display: flex;
            
            .subtitulos{
                justify-content: left;
                text-align: left;
                color: $color-principal;
                margin-bottom: 20px;
                padding-top: 10px;
                font-size: medium;
                }
            }
            
        .subtitulo-categorias{
            text-align: left;
            justify-content: left;
            color: $color-principal;
            font-size: medium;
            }
            
        .lista-categorias{
            padding: 0;
            text-align: left;
            justify-content: left;
            
            .li-prod{
                color: $color-principal;
                margin: 5px 50px 5px 0;
                font-size: medium;
                
                .categoria-prod{
                    @include links (none, $color-principal);
                    }
                }
            }
        }
        
    .todos-los-productos{
        width: 1110px;
        height: 100%;
        justify-content: center;
        
        .titulos-grandes{
            color: $color-secundario;
            text-align: center;
            background-color: $color-principal;
            width: 1110px;
            margin: 10px 0 10px 0;
        }
    }
    
    .btn-mostrar{
        position: relative;
        left: 440px;
        color: $color-secundario;
        background-color: $color-principal;
        border: $color-principal;
    }
}

