
@media screen and (max-width: 425px) {
    .section1-carrusel{
        width: 425px;
        margin: 0;
    }
    
    .section2-infoutil{
        width: 425px;
        margin: 0;
    }
    
    .section3-novedades{
        width: 425px;
        margin:0;
        
        .contenedor-novedades{
            width: 425px;
            margin: 0;
            }
        
        .tarjetas{
            width: 425px;
            margin: 0;
            }
        }
    }