@media screen and (max-width: 425px) {
    .redes{
        width: 425px;
        height: 200px;
        justify-content: center;
        align-items: center;
            
            .text-comunidad{
                font-size: medium;
                width: 200px
                }
            }
        }